<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<ul class="nav justify-content-center border border-dark">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="assets/LogosAR.png"
          alt="Logo"
          width="250"
          height="50"
          class="d-inline-block align-text-mid"
        />
        YoProgramo
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="text-secondary text-decoration-none fa-brands fa-instagram fa-2x fa-fw"
              aria-current="page"
              href="#"
            >
            </a>
          </li>
          <br />
          <li class="nav-item">
            <a
              class="text-secondary text-decoration-none fa-brands fa-linkedin fa-2x fa-fw"
              href="#"
            >
            </a>
          </li>
          <br />
          <li class="nav-item">
            <a
              class="text-secondary text-decoration-none fa-brands fa-github fa-2x fa-fw"
              href="#"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br />
</ul>

<app-encabezado></app-encabezado>

<app-acerca-de-mi></app-acerca-de-mi>

<app-experiencia-laboral></app-experiencia-laboral>

<app-educacion></app-educacion> 

<app-habilidades> </app-habilidades>

<app-proyectos></app-proyectos>

<footer
  class="border border-dark nav justify-content-center bg-dark"
  id="Foter"
>
  <a
    class="text-secondary text-decoration-none fa-brands fa-instagram fa-2x fa-fw"
    aria-current="page"
    href="#"
  >
  </a>
  <a
    class="text-secondary text-decoration-none fa-brands fa-linkedin fa-2x fa-fw"
    href="#"
  >
  </a>
  <a
    class="text-secondary text-decoration-none fa-brands fa-github fa-2x fa-fw"
    href="#"
  ></a>
</footer>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<router-outlet></router-outlet>
